.card {
    width: fit-content;
    /* max-width: 1px; */
    height: fit-content;
    background-color: #1e2c51;
    padding-bottom: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img {
    /* flex-grow: 1; */
    width: 150px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card:hover{
    transform: scale(1.1);
}

.card_text {
    width: 150px;
    text-align: center;
    padding: 8px 6px 0 6px;
    color: #eff9fe
}